 <!DOCTYPE html> 
<html> 
    <head> 
        <meta charset="utf-8"> 
        <title><%= title%></title> 
        <link rel="stylesheet" type="text/css" href="/stylesteets/master.css">
    </head> 

    <body>
        <img src="/img/logo.png">
        <% if(demo == 'disabled') { %>
            <p><%= name%>(<%= id%>)을 찾을 수 없습니다.</p>
            <p>다시 입력해주시기 바랍니다.</p>
            <fieldset>
                <form action="/template" method="get">
                    <input name="name" type="text" class="ghost-input" placeholder="Enter Your Name" required>
                    <input name="id" type="text" class="ghost-input" placeholder="Enter Your ID" required>
                    <input type="submit" class="ghost-button" value="submit">
                </form>
            </fieldset>  
        <% } else { %> 
            <p><%= name%>(<%= id%>)님, 인증되었습니다!</p>
        <% } %>
    </body> 
</html>